name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  publish-npm:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v2

      - uses: actions/setup-node@v5
        with:
          node-version-file: ".node-version"
          registry-url: "https://registry.npmjs.org"

      - run: |
          npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-github:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v2

      - uses: actions/setup-node@v5
        with:
          node-version-file: ".node-version"
          registry-url: "https://npm.pkg.github.com"

      - run: |
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-github-release:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v2

      - name: Pre-release
        run: |
          npm pack

      - name: Release
        uses: softprops/action-gh-release@92bc83c4214f780e84c7d2a85464a2ca05ebc2f0
        with:
          files: |
            wasm-fmt-zig_fmt-*.tgz
