name: Test

on:
    push:
        branches:
            - "*"
    pull_request:
        types: ["opened", "reopened", "synchronize"]
    workflow_dispatch:

jobs:
    zig-fmt:
        name: Zig fmt
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: mlugg/setup-zig@v2
            - run: zig fmt --check src/*.zig

    zig-test:
        name: Zig test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: mlugg/setup-zig@v2
            - run: zig build test

    wasm-build:
        name: Wasm build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: mlugg/setup-zig@v2
            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"

            - name: Build wasm
              run: npm run build

            - name: Upload
              uses: actions/upload-artifact@v6
              with:
                  name: build
                  path: |
                      zig_fmt.wasm

    test-wasm:
        name: Run ${{ matrix.runtime }} tests on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        needs: wasm-build
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                runtime: [node, deno, bun]
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: build
                  path: ./

            - uses: actions/setup-node@v6
              if: matrix.runtime == 'node'
              with:
                  node-version-file: ".node-version"
            - uses: denoland/setup-deno@v2
              if: matrix.runtime == 'deno'
              with:
                  deno-version: 2.x
            - uses: oven-sh/setup-bun@v2
              if: matrix.runtime == 'bun'
              name: Install bun

            - run: npm run test:${{ matrix.runtime }}
